--
-- PostgreSQL database dump
--

\restrict fUZsuboCjyNdxt7igHpgDzu4xdd22SY27spM1B3CdKIu8Tge5KsnPWZnlhrffu8

-- Dumped from database version 17.6
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: check_league_capacity(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.check_league_capacity() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF (SELECT COUNT(*) FROM public.league_members WHERE league_id = NEW.league_id) >= 

     (SELECT max_members FROM public.leagues WHERE id = NEW.league_id) THEN

    RAISE EXCEPTION 'League has reached its maximum capacity';

  END IF;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.check_league_capacity() OWNER TO postgres;

--
-- Name: handle_new_user(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.handle_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  INSERT INTO public.profiles (id, display_name)

  VALUES (

    NEW.id,

    -- We will use everything before the '@' in their email as a default display name

    SPLIT_PART(NEW.email, '@', 1) 

  );

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.handle_new_user() OWNER TO postgres;

--
-- Name: rls_auto_enable(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.rls_auto_enable() RETURNS event_trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'pg_catalog'
    AS $$

DECLARE

  cmd record;

BEGIN

  FOR cmd IN

    SELECT *

    FROM pg_event_trigger_ddl_commands()

    WHERE command_tag IN ('CREATE TABLE', 'CREATE TABLE AS', 'SELECT INTO')

      AND object_type IN ('table','partitioned table')

  LOOP

     IF cmd.schema_name IS NOT NULL AND cmd.schema_name IN ('public') AND cmd.schema_name NOT IN ('pg_catalog','information_schema') AND cmd.schema_name NOT LIKE 'pg_toast%' AND cmd.schema_name NOT LIKE 'pg_temp%' THEN

      BEGIN

        EXECUTE format('alter table if exists %s enable row level security', cmd.object_identity);

        RAISE LOG 'rls_auto_enable: enabled RLS on %', cmd.object_identity;

      EXCEPTION

        WHEN OTHERS THEN

          RAISE LOG 'rls_auto_enable: failed to enable RLS on %', cmd.object_identity;

      END;

     ELSE

        RAISE LOG 'rls_auto_enable: skip % (either system schema or not in enforced list: %.)', cmd.object_identity, cmd.schema_name;

     END IF;

  END LOOP;

END;

$$;


ALTER FUNCTION public.rls_auto_enable() OWNER TO postgres;

--
-- Name: update_league_member_count(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_league_member_count() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF TG_OP = 'INSERT' THEN

    UPDATE public.leagues

    SET member_count = member_count + 1

    WHERE id = NEW.league_id;

    RETURN NEW;

  ELSIF TG_OP = 'DELETE' THEN

    UPDATE public.leagues

    SET member_count = member_count - 1

    WHERE id = OLD.league_id;

    RETURN OLD;

  END IF;

  RETURN NULL;

END;

$$;


ALTER FUNCTION public.update_league_member_count() OWNER TO postgres;

--
-- Name: draft_picks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.draft_picks (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    league_id uuid NOT NULL,
    user_id uuid NOT NULL,
    team_id integer NOT NULL,
    drafted_at timestamp with time zone DEFAULT now(),
    pick_number integer
);


ALTER TABLE public.draft_picks OWNER TO postgres;

--
-- Name: games; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.games (
    id integer NOT NULL,
    round integer NOT NULL,
    team1_id integer,
    team2_id integer,
    winner_id integer,
    next_game_id integer,
    team1_score integer,
    team2_score integer,
    is_completed boolean DEFAULT false,
    season_year integer DEFAULT 2026,
    CONSTRAINT games_round_check CHECK (((round >= 1) AND (round <= 6)))
);


ALTER TABLE public.games OWNER TO postgres;

--
-- Name: league_members; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.league_members (
    league_id uuid NOT NULL,
    user_id uuid NOT NULL,
    joined_at timestamp with time zone DEFAULT now(),
    draft_position integer
);


ALTER TABLE public.league_members OWNER TO postgres;

--
-- Name: leagues; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.leagues (
    id uuid DEFAULT extensions.uuid_generate_v4() NOT NULL,
    name text NOT NULL,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    invite_code text,
    status text DEFAULT 'pre_draft'::text,
    current_pick integer DEFAULT 1,
    max_members integer DEFAULT 8,
    season_year integer DEFAULT 2026,
    member_count integer DEFAULT 0,
    CONSTRAINT leagues_status_check CHECK ((status = ANY (ARRAY['pre_draft'::text, 'drafting'::text, 'in_progress'::text, 'completed'::text])))
);


ALTER TABLE public.leagues OWNER TO postgres;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.profiles (
    id uuid NOT NULL,
    display_name text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.profiles OWNER TO postgres;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    id integer NOT NULL,
    name text NOT NULL,
    seed integer NOT NULL,
    region text NOT NULL,
    wins integer DEFAULT 0,
    is_eliminated boolean DEFAULT false,
    season_year integer DEFAULT 2026,
    CONSTRAINT teams_seed_check CHECK (((seed >= 1) AND (seed <= 16)))
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Name: draft_picks draft_picks_league_id_team_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.draft_picks
    ADD CONSTRAINT draft_picks_league_id_team_id_key UNIQUE (league_id, team_id);


--
-- Name: draft_picks draft_picks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.draft_picks
    ADD CONSTRAINT draft_picks_pkey PRIMARY KEY (id);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id);


--
-- Name: league_members league_members_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.league_members
    ADD CONSTRAINT league_members_pkey PRIMARY KEY (league_id, user_id);


--
-- Name: leagues leagues_invite_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leagues
    ADD CONSTRAINT leagues_invite_code_key UNIQUE (invite_code);


--
-- Name: leagues leagues_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leagues
    ADD CONSTRAINT leagues_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: league_members enforce_max_members; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER enforce_max_members BEFORE INSERT ON public.league_members FOR EACH ROW EXECUTE FUNCTION public.check_league_capacity();


--
-- Name: league_members trigger_update_league_member_count; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_update_league_member_count AFTER INSERT OR DELETE ON public.league_members FOR EACH ROW EXECUTE FUNCTION public.update_league_member_count();


--
-- Name: draft_picks draft_picks_league_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.draft_picks
    ADD CONSTRAINT draft_picks_league_id_fkey FOREIGN KEY (league_id) REFERENCES public.leagues(id) ON DELETE CASCADE;


--
-- Name: draft_picks draft_picks_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.draft_picks
    ADD CONSTRAINT draft_picks_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: draft_picks draft_picks_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.draft_picks
    ADD CONSTRAINT draft_picks_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: games games_next_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_next_game_id_fkey FOREIGN KEY (next_game_id) REFERENCES public.games(id);


--
-- Name: games games_team1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_team1_id_fkey FOREIGN KEY (team1_id) REFERENCES public.teams(id);


--
-- Name: games games_team2_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_team2_id_fkey FOREIGN KEY (team2_id) REFERENCES public.teams(id);


--
-- Name: games games_winner_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_winner_id_fkey FOREIGN KEY (winner_id) REFERENCES public.teams(id);


--
-- Name: league_members league_members_league_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.league_members
    ADD CONSTRAINT league_members_league_id_fkey FOREIGN KEY (league_id) REFERENCES public.leagues(id) ON DELETE CASCADE;


--
-- Name: league_members league_members_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.league_members
    ADD CONSTRAINT league_members_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.profiles(id) ON DELETE CASCADE;


--
-- Name: leagues leagues_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.leagues
    ADD CONSTRAINT leagues_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.profiles(id);


--
-- Name: profiles profiles_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: games Allow public read access to games; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow public read access to games" ON public.games FOR SELECT USING (true);


--
-- Name: teams Allow public read access to teams; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow public read access to teams" ON public.teams FOR SELECT USING (true);


--
-- Name: draft_picks Allow public read of draft_picks; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow public read of draft_picks" ON public.draft_picks FOR SELECT USING (true);


--
-- Name: profiles Allow public read of profiles; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow public read of profiles" ON public.profiles FOR SELECT TO authenticated USING (true);


--
-- Name: draft_picks Allow read draft picks; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow read draft picks" ON public.draft_picks FOR SELECT TO authenticated USING (true);


--
-- Name: league_members Commissioners can update members; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Commissioners can update members" ON public.league_members FOR UPDATE TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.leagues
  WHERE ((leagues.id = league_members.league_id) AND (leagues.created_by = auth.uid())))));


--
-- Name: games Only admins can update games; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Only admins can update games" ON public.games FOR UPDATE TO authenticated USING ((auth.uid() = 'REPLACE-WITH-YOUR-ADMIN-UUID'::uuid));


--
-- Name: leagues Only commissioners can update their leagues; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Only commissioners can update their leagues" ON public.leagues FOR UPDATE TO authenticated USING ((auth.uid() = created_by));


--
-- Name: profiles Public profiles are viewable by everyone; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public profiles are viewable by everyone" ON public.profiles FOR SELECT USING (true);


--
-- Name: leagues Users can create leagues; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can create leagues" ON public.leagues FOR INSERT TO authenticated WITH CHECK ((auth.uid() = created_by));


--
-- Name: profiles Users can insert their own profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can insert their own profile" ON public.profiles FOR INSERT TO authenticated WITH CHECK ((auth.uid() = id));


--
-- Name: league_members Users can join a league; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can join a league" ON public.league_members FOR INSERT TO authenticated WITH CHECK ((auth.uid() = user_id));


--
-- Name: draft_picks Users can only draft in their own leagues; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can only draft in their own leagues" ON public.draft_picks FOR INSERT TO authenticated WITH CHECK ((EXISTS ( SELECT 1
   FROM public.league_members
  WHERE ((league_members.league_id = draft_picks.league_id) AND (league_members.user_id = auth.uid())))));


--
-- Name: profiles Users can update own profile; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can update own profile" ON public.profiles FOR UPDATE TO authenticated USING ((auth.uid() = id)) WITH CHECK ((auth.uid() = id));


--
-- Name: draft_picks Users can view draft picks in their leagues; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view draft picks in their leagues" ON public.draft_picks FOR SELECT USING ((league_id IN ( SELECT league_members.league_id
   FROM public.league_members
  WHERE (league_members.user_id = auth.uid()))));


--
-- Name: league_members Users can view their league memberships; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view their league memberships" ON public.league_members FOR SELECT TO authenticated USING (true);


--
-- Name: leagues Users view leagues they created or joined; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users view leagues they created or joined" ON public.leagues FOR SELECT TO authenticated USING (((auth.uid() = created_by) OR (EXISTS ( SELECT 1
   FROM public.league_members
  WHERE ((league_members.league_id = leagues.id) AND (league_members.user_id = auth.uid()))))));


--
-- Name: draft_picks; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.draft_picks ENABLE ROW LEVEL SECURITY;

--
-- Name: games; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.games ENABLE ROW LEVEL SECURITY;

--
-- Name: league_members; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.league_members ENABLE ROW LEVEL SECURITY;

--
-- Name: leagues; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.leagues ENABLE ROW LEVEL SECURITY;

--
-- Name: profiles; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

--
-- Name: teams; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.teams ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: FUNCTION check_league_capacity(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.check_league_capacity() TO anon;
GRANT ALL ON FUNCTION public.check_league_capacity() TO authenticated;
GRANT ALL ON FUNCTION public.check_league_capacity() TO service_role;


--
-- Name: FUNCTION handle_new_user(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.handle_new_user() TO anon;
GRANT ALL ON FUNCTION public.handle_new_user() TO authenticated;
GRANT ALL ON FUNCTION public.handle_new_user() TO service_role;


--
-- Name: FUNCTION rls_auto_enable(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.rls_auto_enable() TO anon;
GRANT ALL ON FUNCTION public.rls_auto_enable() TO authenticated;
GRANT ALL ON FUNCTION public.rls_auto_enable() TO service_role;


--
-- Name: FUNCTION update_league_member_count(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_league_member_count() TO anon;
GRANT ALL ON FUNCTION public.update_league_member_count() TO authenticated;
GRANT ALL ON FUNCTION public.update_league_member_count() TO service_role;


--
-- Name: TABLE draft_picks; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.draft_picks TO anon;
GRANT ALL ON TABLE public.draft_picks TO authenticated;
GRANT ALL ON TABLE public.draft_picks TO service_role;


--
-- Name: TABLE games; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.games TO anon;
GRANT ALL ON TABLE public.games TO authenticated;
GRANT ALL ON TABLE public.games TO service_role;


--
-- Name: TABLE league_members; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.league_members TO anon;
GRANT ALL ON TABLE public.league_members TO authenticated;
GRANT ALL ON TABLE public.league_members TO service_role;


--
-- Name: TABLE leagues; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.leagues TO anon;
GRANT ALL ON TABLE public.leagues TO authenticated;
GRANT ALL ON TABLE public.leagues TO service_role;


--
-- Name: TABLE profiles; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.profiles TO anon;
GRANT ALL ON TABLE public.profiles TO authenticated;
GRANT ALL ON TABLE public.profiles TO service_role;


--
-- Name: TABLE teams; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.teams TO anon;
GRANT ALL ON TABLE public.teams TO authenticated;
GRANT ALL ON TABLE public.teams TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


-- ------------------------------------------
-- DATA SEEDING (TEAMS & BRACKET)
-- ------------------------------------------

-- Populate 64 Tournament Teams
DO $$
DECLARE
    r TEXT;
    s INT;
    team_id INT := 1;
    regions TEXT[] := ARRAY['East', 'West', 'South', 'Midwest'];
BEGIN
    FOREACH r IN ARRAY regions LOOP
        FOR s IN 1..16 LOOP
            INSERT INTO public.teams (id, name, seed, region, season_year)
            VALUES (team_id, r || ' Seed ' || s, s, r, 2026);
            team_id := team_id + 1;
        END LOOP;
    END LOOP;
END $$;

-- Generate 63 Games & Round 1 Matchups
DO $$
DECLARE
    g INT;
    next_g INT;
    r INT;
    team_offset INT;
    matchups INT[] := ARRAY[1, 16, 8, 9, 5, 12, 4, 13, 6, 11, 3, 14, 7, 10, 2, 15];
BEGIN
    FOR g IN 1..32 LOOP
        next_g := 32 + CEIL(g / 2.0);
        r := FLOOR((g - 1) / 8);
        team_offset := r * 16;
        INSERT INTO public.games (id, round, next_game_id, team1_id, team2_id, season_year) 
        VALUES (
            g, 1, next_g, 
            team_offset + matchups[(((g - 1) % 8 + 1) * 2) - 1], 
            team_offset + matchups[((g - 1) % 8 + 1) * 2],
            2026
        );
    END LOOP;
    FOR g IN 33..48 LOOP
        next_g := 48 + CEIL((g - 32) / 2.0);
        INSERT INTO public.games (id, round, next_game_id, season_year) VALUES (g, 2, next_g, 2026);
    END LOOP;
    FOR g IN 49..56 LOOP
        next_g := 56 + CEIL((g - 48) / 2.0);
        INSERT INTO public.games (id, round, next_game_id, season_year) VALUES (g, 3, next_g, 2026);
    END LOOP;
    FOR g IN 57..60 LOOP
        next_g := 60 + CEIL((g - 56) / 2.0);
    END LOOP;
    FOR g IN 61..62 LOOP
    END LOOP;
END $$;

--
-- PostgreSQL database dump complete
--

\unrestrict fUZsuboCjyNdxt7igHpgDzu4xdd22SY27spM1B3CdKIu8Tge5KsnPWZnlhrffu8

